<footer>
    <section id="follow_us"><a href="https://facebook.com">Facebook</a> <a href="https://instagram.com">Instagram</a><a href="https://youtube.com">Youtube</a></section>
    <section id="Contact_Footer">
        <span id="contact_heading">Contact</span> <span id="seperator">:</span>
        <a href="mailto:vnstudio@gmail.com" id="footer_mail">driveTest@gmail.com</a>
    </section>
    <section id="Copyright"> Copyright &copy; Ontario Drive Test 2022. All Rights Reserved</section>
</footer>